body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
* {
  box-sizing: border-box;
}
form {
    background-color:plum;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
    display: block;
}
.noth{
    background-color: black;
    color: white;
    margin: 0px;
    padding:0px;
}
.mics{
    background-color: black;
    color: #ccc;
    margin: 0;
    padding: 5px;
}
label {
    display: block;
    margin-top: 10px;
}

input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#submittedReviews {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
footer {
  text-align: center;
  background-color: green;
  color: purple;
  padding: 15px;
  margin-top: 30px;
  border-radius: 8px;
}
